#  ğŸ§¹ **Data Cleaning and Preparation**

In [3]:
import pandas as pd
import numpy as np

# **1ï¸âƒ£ 7.1 âŒ Handling Missing Data**

## **ğŸ” Detect missing values**

### **.isna( )**

In [2]:
float_data = pd.Series([1.2, -3.5, np.nan, 0])
print(float_data.isna())  # isna() â†’ ÙŠØ±Ø¬Ø¹ Boolean Series: True Ù„Ù„Ù…ÙÙ‚ÙˆØ¯.

0    False
1    False
2     True
3    False
dtype: bool

### **.notna( )**

In [4]:
string_data = pd.Series(["aardvark", np.nan, None, "avocado"])
print(string_data.notna())     # # notna() â†’ ÙŠØ±Ø¬Ø¹ Boolean Series: False Ù„Ù„Ù…ÙÙ‚ÙˆØ¯.

0     True
1    False
2    False
3     True
dtype: bool

## **ğŸ—‘ Filtering Out Missing Data**

### **on Series**
dropna() â†’ ÙŠØ­Ø°Ù Ø§Ù„Ø¹Ù†Ø§ØµØ± Ø§Ù„Ù„ÙŠ ÙÙŠÙ‡Ø§ NA.

data[data.notna()] â†’ Ù†ÙØ³ Ø§Ù„Ù†ØªÙŠØ¬Ø© Ù„ÙƒÙ† Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù…

In [5]:
data = pd.Series([1, np.nan, 3.5, np.nan, 7])
print(data.dropna())

0    1.0
2    3.5
4    7.0
dtype: float64

In [6]:
print(data[data.notna()])

0    1.0
2    3.5
4    7.0
dtype: float64

### **on DataFram**

dropna() â†’ ÙŠØ­Ø°Ù Ø£ÙŠ ØµÙ ÙÙŠÙ‡ Ù‚ÙŠÙ…Ø© Ù…ÙÙ‚ÙˆØ¯Ø©.

dropna(how="all") â†’ ÙŠØ­Ø°Ù Ø§Ù„ØµÙÙˆÙ Ø§Ù„Ù„ÙŠ ÙƒÙ„Ù‡Ø§ NA.

dropna(how="any") â†’  ÙŠØ­Ø°Ù Ø§Ù„ØµÙÙˆÙ Ø§Ù„Ù„ÙŠ ÙÙŠÙ‡Ø§ Ù‚ÙŠÙ…Ø© ÙˆØ§Ø­Ø¯ Ù…ÙÙ‚ÙˆØ¯Ù‡ Ø¹ Ø§Ù„Ø§Ù‚Ù„ .

dropna(axis="columns") â†’ ÙŠØ­Ø°Ù Ø§Ù„Ø£Ø¹Ù…Ø¯Ø© Ø§Ù„Ù„ÙŠ ÙƒÙ„Ù‡Ø§ NA.

dropna(thresh=n) â†’ ÙŠØ­ØªÙØ¸ Ø¨Ø§Ù„ØµÙÙˆÙ Ø§Ù„Ù„ÙŠ ÙÙŠÙ‡Ø§ Ø¹Ù„Ù‰ Ø§Ù„Ø£Ù‚Ù„ n Ù‚ÙŠÙ… Ù…Ø´ Ù…ÙÙ‚ÙˆØ¯Ø©.

In [8]:
df = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                   [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])
print(df.dropna())              # ÙŠØ­Ø°Ù Ø§Ù„ØµÙÙˆÙ Ø§Ù„Ù„ÙŠ ÙÙŠÙ‡Ø§ NA

     0    1    2
0  1.0  6.5  3.0

In [9]:
print(df.dropna(how="all"))    # ÙŠØ­Ø°Ù Ø§Ù„ØµÙÙˆÙ Ø§Ù„ÙØ§Ø¶ÙŠØ© Ø¨Ø§Ù„ÙƒØ§Ù…Ù„

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [10]:
print(df.dropna(axis="columns", how="all")) # ÙŠØ­Ø°Ù Ø§Ù„Ø£Ø¹Ù…Ø¯Ø© Ø§Ù„ÙØ§Ø¶ÙŠØ© Ø¨Ø§Ù„ÙƒØ§Ù…Ù„

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

## **ğŸ©¹ Filling Missing Data**

ffill(limit=2)### **ğŸ”¹ fillna()**

fillna(value) â†’ ÙŠÙ…Ù„Ø£ Ø§Ù„Ù€ NA Ø¨Ù‚ÙŠÙ…Ø© Ø«Ø§Ø¨ØªØ©.

fillna({col1: val1, col2: val2}) â†’ ÙŠÙ…Ù„Ø£ ÙƒÙ„ Ø¹Ù…ÙˆØ¯ Ø¨Ù‚ÙŠÙ…Ø© Ù…Ø®ØªÙ„ÙØ©.

ffill(limit=num) â†’ ÙŠÙ…Ù„Ø£ Ø¨Ø§Ù„Ù‚ÙŠÙ…Ø© Ø§Ù„Ø³Ø§Ø¨Ù‚Ø© (Forward Fill).

bfill(limit=num)  â†’ ÙŠÙ…Ù„Ø£ Ø¨Ø§Ù„Ù‚ÙŠÙ…Ø© Ø§Ù„Ù„Ø§Ø­Ù‚Ø© (Backward Fill).

fillna(data.mean()) â†’ ØªØ¹ÙˆÙŠØ¶ Ø§Ù„Ù‚ÙŠÙ… Ø¨Ø§Ù„Ù…ØªÙˆØ³Ø· Ø£Ùˆ Ø£ÙŠ Ø¥Ø­ØµØ§Ø¦ÙŠØ©.

limit â†’ ÙŠØ­Ø¯Ø¯ Ø¹Ø¯Ø¯ Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù„ÙŠ ÙŠØªÙ… ØªØ¹ÙˆÙŠØ¶Ù‡Ø§ Ø¨Ø´ÙƒÙ„ Ù…ØªØªØ§Ù„ÙŠ.

In [11]:
df = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                   [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])

In [12]:
df.fillna(0)

     0    1    2
0  1.0  6.5  3.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.5  3.0

In [17]:
df.fillna(df.mean())

     0    1    2
0  1.0  6.5  3.0
1  1.0  6.5  3.0
2  1.0  6.5  3.0
3  1.0  6.5  3.0

In [14]:
df.fillna({0: -1, 1: 0.5, 2:0})

     0    1    2
0  1.0  6.5  3.0
1  1.0  0.5  0.0
2 -1.0  0.5  0.0
3 -1.0  6.5  3.0

In [16]:
df.ffill(limit=2)

 # df.fillna(method="ffill", limit=2) Ù‚Ø¯ÙŠÙ…Ø©

     0    1    2
0  1.0  6.5  3.0
1  1.0  6.5  3.0
2  1.0  6.5  3.0
3  1.0  6.5  3.0

# **2ï¸âƒ£ 7.2 Data Transformation**

## **1ï¸âƒ£ Removing Duplicates**

duplicated() â†’ ÙŠØ¯ÙŠÙƒ Boolean Series ÙŠÙˆØ¶Ø­ Ø¥Ø°Ø§ ÙƒØ§Ù† Ø§Ù„ØµÙ Ù…ÙƒØ±Ø± Ø£Ù… Ù„Ø§.

drop_duplicates() â†’ ÙŠØ­Ø°Ù Ø§Ù„ØµÙÙˆÙ Ø§Ù„Ù…ÙƒØ±Ø±Ø©.

ØªÙ‚Ø¯Ø± ØªØ­Ø¯Ø¯ subset (Ø£Ø¹Ù…Ø¯Ø© Ù…Ø¹ÙŠÙ†Ø©) Ù„Ù„ÙØ­Øµ.

Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù… keep="last" Ù…Ù…ÙƒÙ† ØªØ­ØªÙØ¸ Ø¨Ø¢Ø®Ø± ØªÙƒØ±Ø§Ø± Ø¨Ø¯Ù„ Ø§Ù„Ø£ÙˆÙ„.

In [18]:
data = pd.DataFrame({"k1": ["one", "two"] * 3 + ["two"],
                     "k2": [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [21]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [22]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [24]:
data.drop_duplicates(subset=["k1"])   # Ø­Ø°Ù ÙƒÙ„ Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù…ÙƒØ±Ø±Ù‡ Ù…Ù† Ø§Ù„Ø¹Ù…ÙˆØ¯ K1

    k1  k2
0  one   1
1  two   1

In [26]:
data.drop_duplicates(["k1", "k2"], keep="last")
# Ø§Ø­Ø°Ù Ø§Ù„ÙƒÙŠÙ… Ø§Ù„Ù„ÙŠ ØªØªÙƒØ±Ø± ÙÙŠ K1 and K2 Ù…Ø¹ Ø¨Ø¹Ø¶ Ø³ÙŠØ¨ Ø§Ø®Ø± Ù†Ø³Ø®Ù‡

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
6  two   4

## **2ï¸âƒ£ Transforming Data Using Function or Mapping**

map(dictionary)

 map(function)

In [28]:
data = pd.DataFrame({"food": ["bacon", "pulled pork", "bacon",
                              "pastrami", "corned beef", "bacon",
                              "pastrami", "honey ham", "nova lox"],
                    "ounces": [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     pastrami     6.0
4  corned beef     7.5
5        bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [29]:
meat_to_animal = {"bacon": "pig", "pulled pork": "pig",
                  "pastrami": "cow", "corned beef": "cow",
                  "honey ham": "pig", "nova lox": "salmon"}

data["animal"] = data["food"].map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     pastrami     6.0     cow
4  corned beef     7.5     cow
5        bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

## **3ï¸âƒ£ Replacing Values**

### **.replace()**

ØªØ¨Ø¯Ù„ Ù‚ÙŠÙ…Ø© ÙˆØ§Ø­Ø¯Ø©.

ØªØ¨Ø¯Ù„ Ù‚Ø§Ø¦Ù…Ø© Ù‚ÙŠÙ… Ø¨Ù†ÙØ³ Ø§Ù„Ù‚ÙŠÙ…Ø©.

ØªØ¨Ø¯Ù„ Ù‚ÙŠÙ… Ù…ØªØ¹Ø¯Ø¯Ø© Ø¨Ù‚ÙŠÙ… Ù…Ø®ØªÙ„ÙØ© (list Ø£Ùˆ dict).

In [31]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [33]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [34]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [35]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [36]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

## **4ï¸âƒ£ Renaming Axis Indexes**

Ù…Ù…ÙƒÙ† Ù†ØºÙŠØ± Ø£Ø³Ù…Ø§Ø¡ Ø§Ù„ØµÙÙˆÙ ÙˆØ§Ù„Ø£Ø¹Ù…Ø¯Ø© Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù…:

**map()** Ø¹Ù„Ù‰ Ø§Ù„Ù€ index Ø£Ùˆ Ø§Ù„Ù€ columns.

**rename()** Ø¹Ø´Ø§Ù† Ù…Ø§ ØªØ¹Ø¯Ù„Ø´ Ø§Ù„Ù€ DataFrame Ø§Ù„Ø£ØµÙ„ÙŠ.

In [4]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=["Ohio", "Colorado", "New York"],
                    columns=["one", "two", "three", "four"])

data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [38]:
data.rename(index={"Ohio": "INDIANA"}, columns={"three": "peekaboo"})

          one  two  peekaboo  four
INDIANA     0    1         2     3
Colorado    4    5         6     7
New York    8    9        10    11

In [40]:
data.rename(index=str.title, columns=str.upper)

          ONE  TWO  THREE  FOUR
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [6]:
def transform(x):
   return x[:4].upper()

data.index = data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

## **5ï¸âƒ£ Discretization and Binning**

### **(Bins)**

Ù„Ùˆ Ø¹Ù†Ø¯Ùƒ Ø¨ÙŠØ§Ù†Ø§Øª Ù…Ø³ØªÙ…Ø±Ø© (Ø²ÙŠ Ø§Ù„Ø£Ø¹Ù…Ø§Ø± Ø£Ùˆ Ø§Ù„Ø¯Ø®Ù„)ØŒ Ù…Ù…ÙƒÙ† ØªÙ‚Ø³Ù‘Ù…Ù‡Ø§ Ù„ÙØ¦Ø§Øª.

### pd.cut()
 â†’ ØªÙ‚Ø³ÙŠÙ… Ø­Ø³Ø¨ Ø­Ø¯ÙˆØ¯ bins.

### pd.qcut()
â†’ ØªÙ‚Ø³ÙŠÙ… Ø­Ø³Ø¨ quantiles (Ø§Ù„ÙØ¦Ø§Øª Ù…ØªØ³Ø§ÙˆÙŠØ© Ø§Ù„Ø­Ø¬Ù… ØªÙ‚Ø±ÙŠØ¨Ù‹Ø§).

| Ø§Ù„ÙˆØ¸ÙŠÙØ©     | Ø·Ø±ÙŠÙ‚Ø© Ø§Ù„ØªÙ‚Ø³ÙŠÙ…                          | Ù…Ù†Ø§Ø³Ø¨ Ù…ØªÙ‰ØŸ                                        |
| ----------- | -------------------------------------- | ------------------------------------------------- |
| `pd.cut()`  | ØªÙ‚Ø³ÙŠÙ… Ø­Ø³Ø¨ **Ø­Ø¯ÙˆØ¯ Ø£Ù†Øª Ø¨ØªØ­Ø¯Ø¯Ù‡Ø§**         | Ù„Ù…Ø§ ÙŠÙƒÙˆÙ† Ø¹Ù†Ø¯Ùƒ Ù…Ø¹Ù†Ù‰ Ù…Ù†Ø·Ù‚ÙŠ Ù„Ù„ÙØ¦Ø§Øª (Ø²ÙŠ Ø£Ø¹Ù…Ø§Ø± Ù…Ø­Ø¯Ø¯Ø©). |
| `pd.qcut()` | ØªÙ‚Ø³ÙŠÙ… Ø­Ø³Ø¨ **Quantiles (Ù…ØªØ³Ø§ÙˆÙŠ Ø§Ù„Ø¹Ø¯Ø¯)** | Ù„Ù…Ø§ ØªØ­Ø¨ Ø§Ù„ÙØ¦Ø§Øª ÙƒÙ„Ù‡Ø§ ØªØ¨Ù‚Ù‰ Ù…ØªÙˆØ§Ø²Ù†Ø© ÙÙŠ Ø§Ù„Ø­Ø¬Ù….        |


### **ğŸ“Œ Ø§Ù„ÙÙƒØ±Ø© Ø§Ù„Ø£Ø³Ø§Ø³ÙŠØ©:**

Ù„Ùˆ Ø¹Ù†Ø¯Ùƒ Ø¨ÙŠØ§Ù†Ø§Øª Ù…Ø³ØªÙ…Ø±Ø© Continuous (Ø²ÙŠ Ø§Ù„Ø¹Ù…Ø±ØŒ Ø§Ù„Ø·ÙˆÙ„ØŒ Ø§Ù„ÙˆØ²Ù†ØŒ Ø§Ù„Ø¯Ø®Ù„)ØŒ Ø³Ø§Ø¹Ø§Øª Ø¨ÙŠÙƒÙˆÙ† Ù…ÙÙŠØ¯ Ø¥Ù†Ù†Ø§ Ù†Ø­ÙˆÙ‘Ù„Ù‡Ø§ Ù„ÙØ¦Ø§Øª Categories.

ÙˆØ¯Ù‡ Ø§Ø³Ù…Ù‡ Binning Ø£Ùˆ Discretization.

In [12]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]

categories = pd.cut(ages, bins)
print(categories)

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [14]:
categories = pd.cut(ages, bins, labels=["Youth", "YoungAdult", "MiddleAged", "Senior"])
categories

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

### **Ø§Ù„Ø´Ø±Ø­:**

18â€“25 â†’ Youth

25â€“35 â†’ YoungAdult

35â€“60 â†’ MiddleAged

60â€“100 â†’ Senior

In [16]:
data = [7, 2, 5, 9, 10, 15, 1, 20, 25, 30]
qcut_result = pd.qcut(data, 4, labels=["Q1", "Q2", "Q3", "Q4"])
qcut_result

['Q2', 'Q1', 'Q1', 'Q2', 'Q3', 'Q3', 'Q1', 'Q4', 'Q4', 'Q4']
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

## **6ï¸âƒ£ Detecting and Filtering Outliers**

In [4]:
# Ø¨ÙŠØ§Ù†Ø§Øª Ø¹Ø´ÙˆØ§Ø¦ÙŠØ©
import pandas as pd
import numpy as np
rng = np.random.default_rng(seed=12345)
data = rng.standard_normal((1000, 4))
df = pd.DataFrame(data)
df

            0         1         2         3
0   -1.423825  1.263728 -0.870662 -0.259173
1   -0.075343 -0.740885 -1.367793  0.648893
2    0.361058 -1.952863  2.347410  0.968497
3   -0.759387  0.902198 -0.466953 -0.060690
4    0.788844 -1.256668  0.575858  1.398979
..        ...       ...       ...       ...
995  0.882424  0.117986 -1.594591  0.617857
996  0.426579 -0.349593 -0.912300 -0.607779
997 -1.824397 -0.545148 -0.618174 -1.071964
998 -0.479874 -1.752196  0.989474 -0.317403
999 -1.351867  0.620931  0.405851 -0.662979

[1000 rows x 4 columns]

In [5]:
df.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.041958    -0.019989     0.005112     0.078280
std       0.967856     0.993715     1.015471     1.053955
min      -2.736509    -3.414646    -3.119609    -2.874133
25%      -0.655281    -0.665431    -0.689012    -0.672366
50%      -0.069287    -0.041196    -0.029181     0.061795
75%       0.621099     0.612585     0.725447     0.787001
max       3.200689     3.461976     3.721098     3.378876

In [28]:
# Ø§Ù„ØµÙÙˆÙ Ø§Ù„Ù„ÙŠ ÙÙŠÙ‡Ø§ Ù‚ÙŠÙ… Ø£ÙƒØ¨Ø± Ù…Ù† 3 Ø£Ùˆ Ø£Ù‚Ù„ Ù…Ù† -3
outliers = data[(df.abs() > 3).any(axis="columns")]
# Ù„Ùˆ  Ø§ÙŠ Ø¹Ù…ÙˆØ¯ ÙÙŠ Ø§Ù„ØµÙ outlier Ø§Ù„ØµÙ ÙƒÙ„Ù‡ Ø¨ÙŠØªØ­Ø¯Ø¯ Ø§Ù†Ù‡ Ø¨ÙŠØ­ØªÙˆÙŠ Ø¹ outlier
outliers

array([[-0.55599901,  1.35638101, -3.11960863, -1.4476717 ],
       [ 3.20068942,  2.14788244, -0.10666477, -0.93015494],
       [-0.32368662,  0.5746962 ,  3.21141765, -1.78846554],
       [-0.15004013,  0.38989694, -1.08308193,  3.08547984],
       [ 0.90096505,  3.46197581, -0.28949683,  1.22068709],
       [ 0.81724062,  0.10800997,  0.34199802,  3.14545143],
       [-0.53853982,  1.08087294,  0.31182729,  3.04165289],
       [ 1.75654852,  1.10627131,  3.72109781, -1.39177304],
       [ 0.63546921,  2.31984638, -3.08212823, -1.12760431],
       [-0.94401886, -2.10384273,  0.56215108,  3.37887608],
       [-0.2739689 ,  0.01372584,  0.06266693,  3.11003849],
       [ 0.16287571, -3.41464583, -1.35519652,  0.74319743]])

In [32]:
# Ø§Ø³ØªØ¨Ø¯Ø§Ù„ Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù…ØªØ·Ø±ÙØ© Ø¨Ù€ +3 Ø£Ùˆ -3
df[df.abs() > 3] = np.sign(data) * 3
outliers_2 = data[(df.abs() > 3).any(axis="columns")]
outliers_2

array([], shape=(0, 4), dtype=float64)

## **7ï¸âƒ£ ğŸ² Permutation and Random Sampling**

In [41]:
df = pd.DataFrame(np.arange(40).reshape(10, 4))

In [42]:
print(df.sample(n=3))           # 3 ØµÙÙˆÙ Ø¹Ø´ÙˆØ§Ø¦ÙŠØ©

    0   1   2   3
6  24  25  26  27
2   8   9  10  11
0   0   1   2   3

In [43]:
print(df.sample(n=5, replace=True))      # 5 ØµÙÙˆÙ Ù…Ø¹ ØªÙƒØ±Ø§Ø±

    0   1   2   3
5  20  21  22  23
5  20  21  22  23
0   0   1   2   3
7  28  29  30  31
6  24  25  26  27

## **8ï¸âƒ£ ğŸ­ Indicator/Dummy Variables**

### **Ø§Ù„Ù…ØªØºÙŠØ±Ø§Øª Ø§Ù„ÙˆÙ‡Ù…ÙŠØ© (One-Hot Encoding)**


### ğŸ“Œ ÙŠØ¹Ù†ÙŠ Ø¥ÙŠÙ‡ØŸ

Ù„Ùˆ Ø¹Ù†Ø¯Ùƒ Ø¹Ù…ÙˆØ¯ ÙÙŠÙ‡ Ù‚ÙŠÙ… Ù†ØµÙŠØ© (categorical) Ø²ÙŠ: ["cat", "dog", "bird"]ØŒ Ø§Ù„ÙƒÙ…Ø¨ÙŠÙˆØªØ± Ù…Ø§ÙŠÙÙ‡Ù…Ù‡Ø§Ø´ Ø¨Ø³Ù‡ÙˆÙ„Ø© ÙÙŠ Machine Learning.

ÙÙ€ Ø§Ù„Ø¯ÙˆØ§Ù„ Ø§Ù„ÙˆÙ‡Ù…ÙŠØ© (Dummy Variables) Ø¨ØªØ­ÙˆÙ„ ÙƒÙ„ Ù‚ÙŠÙ…Ø© Ù„Ø¹Ù…ÙˆØ¯ Ø¬Ø¯ÙŠØ¯ (0/1).

1 = Ø§Ù„ØµÙ ÙŠÙ†ØªÙ…ÙŠ Ù„Ù„Ù‚ÙŠÙ…Ø© Ø¯ÙŠ.

0 = Ø§Ù„ØµÙ Ù…Ø´ ÙŠÙ†ØªÙ…ÙŠ.

In [44]:
df = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"], "data1": range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [ ]:
# ØªØ­ÙˆÙŠÙ„ Ø¹Ù…ÙˆØ¯ key Ø¥Ù„Ù‰ Ø£Ø¹Ù…Ø¯Ø© 0/1
dummies = pd.get_dummies(df["key"], prefix="key", dtype=float)

# Ø¯Ù…Ø¬ Ø§Ù„Ø¯Ø§ØªØ§ Ø§Ù„Ø£ØµÙ„ÙŠØ© Ù…Ø¹ Ø§Ù„Ø£Ø¹Ù…Ø¯Ø© Ø§Ù„Ø¬Ø¯ÙŠØ¯Ø©
df_with_dummy = df.join(dummies)
print(df_with_dummy)

# **3ï¸âƒ£ 7.3 Extension Data Types**

| Ø§Ù„ÙØ¦Ø©                                                    | Ø§Ù„Ù…Ø´ÙƒÙ„Ø© ÙÙŠ NumPy                              | ØªØ£Ø«ÙŠØ±Ù‡Ø§ ÙÙŠ Pandas                                                                       | Ø§Ù„Ø­Ù„ (Extension Dtypes)                                                  |
| -------------------------------------------------------- | --------------------------------------------- | --------------------------------------------------------------------------------------- | ------------------------------------------------------------------------ |
| **Ø§Ù„Ø£Ø¹Ø¯Ø§Ø¯ Ø§Ù„ØµØ­ÙŠØ­Ø© (Integers) + Booleans**                | Ù…ÙÙŠØ´ Ø¯Ø¹Ù… Ù„Ù„Ù‚ÙŠÙ… Ø§Ù„Ù…ÙÙ‚ÙˆØ¯Ø©                       | Pandas ÙŠØºÙŠÙ‘Ø± Ø§Ù„Ø¹Ù…ÙˆØ¯ ØªÙ„Ù‚Ø§Ø¦ÙŠÙ‹Ø§ Ù„Ù€ **float64** ÙˆÙŠØ­Ø· `np.nan` â†’ ÙŠØ¹Ù…Ù„ Ù…Ø´Ø§ÙƒÙ„ Ø®ÙÙŠØ© ÙÙŠ Ø§Ù„Ø­Ø³Ø§Ø¨Ø§Øª | Ø¯Ø¹Ù… Ù†ÙˆØ¹ Ø¬Ø¯ÙŠØ¯ Ø²ÙŠ `Int64Dtype` Ùˆ `BooleanDtype` Ø§Ù„Ù„ÙŠ Ø¨ÙŠØ³Ù…Ø­ Ø¨Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù…ÙÙ‚ÙˆØ¯Ø© |
| **Ø§Ù„Ù†ØµÙˆØµ (Strings)**                                     | ØªØ®Ø²ÙŠÙ† Ø¨Ø·ÙŠØ¡ + Ø§Ø³ØªÙ‡Ù„Ø§Ùƒ ÙƒØ¨ÙŠØ± Ù„Ù„Ø°Ø§ÙƒØ±Ø©             | Ø§Ù„Ø£Ø¯Ø§Ø¡ Ø¶Ø¹ÙŠÙ Ø¬Ø¯Ù‹Ø§ ÙÙŠ Ù…Ø¹Ø§Ù„Ø¬Ø© Ø§Ù„Ù†ØµÙˆØµ                                                       | Ù†ÙˆØ¹ Ø¬Ø¯ÙŠØ¯ `StringDtype` Ø£Ø³Ø±Ø¹ ÙˆØ£ÙƒÙØ£                                        |
| **Ø£Ù†ÙˆØ§Ø¹ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„Ø®Ø§ØµØ©** (ØªÙˆØ§Ø±ÙŠØ®ØŒ ÙØ±ÙˆÙ‚ Ø²Ù…Ù†ÙŠØ©ØŒ Timezone) | Ù„Ø§Ø²Ù… ØªØªØ®Ø²Ù† ÙƒÙ€ **Python objects** â†’ Ø¨Ø·ÙŠØ¡ ÙˆÙ…ÙƒÙ„Ù | Ø¨Ø·Ø¡ ÙÙŠ Ø§Ù„Ø¹Ù…Ù„ÙŠØ§Øª Ø§Ù„Ø­Ø³Ø§Ø¨ÙŠØ© ÙˆØ§Ù„ØªØ®Ø²ÙŠÙ†                                                       | Ø£Ù†ÙˆØ§Ø¹ Ø¨ÙŠØ§Ù†Ø§Øª Ø®Ø§ØµØ© Ø²ÙŠ `Categorical`, `Period`, `DatetimeTZDtype`          |

In [6]:
import pandas as pd
# Series Ù…Ù† Integers ÙÙŠÙ‡Ø§ Missing Value
s = pd.Series([1, 2, 3, None])
print(s)
print(s.dtype)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64
float64

Pandas Ù‡Ù†Ø§ Ø­ÙˆÙ‘Ù„ Ø§Ù„Ù€ integers Ø¥Ù„Ù‰ float64.

Ø§Ù„Ø³Ø¨Ø¨: Ø¹Ù„Ø´Ø§Ù† ÙŠØ¹Ø±Ù ÙŠØ­Ø· NaN.

### **ğŸŸ  Ø§Ù„Ø­Ù„ Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù… Int64Dtype**

In [7]:
s = pd.Series([1, 2, 3, None], dtype=pd.Int64Dtype())
print(s)                   # "Int64" =  pd.Int64Dtype()
print(s.dtype)

0       1
1       2
2       3
3    <NA>
dtype: Int64
Int64

In [8]:
print(s.isna())
print(s[3] is pd.NA)

0    False
1    False
2    False
3     True
dtype: bool
True

In [12]:
s = pd.Series(['one', 'two', None, 'three'], dtype=pd.StringDtype())
print(s)

0      one
1      two
2     <NA>
3    three
dtype: string

### **ğŸŸ¢ ØªØ­ÙˆÙŠÙ„ Ø§Ù„Ø£Ø¹Ù…Ø¯Ø© Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù… astype()**

In [14]:
df = pd.DataFrame({
    "A": [1, 2, None, 4],
    "B": ["one", "two", "three", None],
    "C": [False, None, False, True]
})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      float64
 1   B       3 non-null      object
 2   C       3 non-null      object
dtypes: float64(1), object(2)
memory usage: 228.0+ bytes

In [15]:
df["A"] = df["A"].astype("Int64")
df["B"] = df["B"].astype("string")
df["C"] = df["C"].astype("boolean")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      Int64
 1   B       3 non-null      string
 2   C       3 non-null      boolean
dtypes: Int64(1), boolean(1), string(1)
memory usage: 208.0 bytes

In [16]:
df

      A      B      C
0     1    one  False
1     2    two   <NA>
2  <NA>  three  False
3     4   <NA>   True

| Ø§Ù„Ù†ÙˆØ¹                             | Ø§Ù„ÙˆØµÙ                              |
| --------------------------------- | ---------------------------------- |
| **boolean**                       | Boolean ÙŠØ¯Ø¹Ù… Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù…ÙÙ‚ÙˆØ¯Ø©        |
| **category**                      | Ø¨ÙŠØ§Ù†Ø§Øª ØªØµÙ†ÙŠÙÙŠØ© (Categorical)       |
| **datetime64\[ns, tz]**           | ØªØ§Ø±ÙŠØ®/ÙˆÙ‚Øª Ù…Ø¹ Ù…Ù†Ø·Ù‚Ø© Ø²Ù…Ù†ÙŠØ©           |
| **Float32, Float64**              | Floats Ù…Ø¹ Ø¯Ø¹Ù… Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù…ÙÙ‚ÙˆØ¯Ø©       |
| **Int8, Int16, Int32, Int64**     | Integers Ø¨Ø¥Ù…ÙƒØ§Ù†ÙŠØ© ÙˆØ¬ÙˆØ¯ NA          |
| **UInt8, UInt16, UInt32, UInt64** | Unsigned integers Ø¨Ø¥Ù…ÙƒØ§Ù†ÙŠØ© ÙˆØ¬ÙˆØ¯ NA |
| **string**                        | Ù†ØµÙˆØµ Ù…Ø¹ Ø¯Ø¹Ù… Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù…ÙÙ‚ÙˆØ¯Ø©         |

# **4ï¸âƒ£ 7.4 String Manipulation**

# **5ï¸âƒ£ 7.5 Categorical Data**