# Q1

In [3]:
import pandas as pd

df = pd.read_csv("../Visualization/Iris.csv")
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [4]:
print(df.shape)

(150, 6)

In [6]:
print(df.columns)

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

# Q2

In [7]:
print(df["SepalLengthCm"].agg(["mean", "median", "std"]))

mean      5.843333
median    5.800000
std       0.828066
Name: SepalLengthCm, dtype: float64

In [8]:
print(df["PetalWidthCm"].agg(["min", "max"]))

min    0.1
max    2.5
Name: PetalWidthCm, dtype: float64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

# Q3

In [12]:
df[df["Species"] == "Iris-setosa"].head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [14]:
df[df["SepalLengthCm"] > 6.0].head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
56,57,6.3,3.3,4.7,1.6,Iris-versicolor

In [21]:
df[(df["PetalLengthCm"] > 3 ) & (df["PetalLengthCm"] < 5)].head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor

# Q4

In [23]:
print(df.groupby("Species")["SepalLengthCm"].mean())

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [24]:
print(df.groupby("Species")["PetalWidthCm"].max())

Species
Iris-setosa        0.6
Iris-versicolor    1.8
Iris-virginica     2.5
Name: PetalWidthCm, dtype: float64

In [25]:
print(df.groupby("Species").count())

                 Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa      50             50            50             50            50
Iris-versicolor  50             50            50             50            50
Iris-virginica   50             50            50             50            50

# Q5

In [27]:
df.sort_values("SepalLengthCm").head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
13  14            4.3           3.0            1.1           0.1  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa

In [29]:
df.sort_values("PetalWidthCm",  ascending = False).head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
144,145,6.7,3.3,5.7,2.5,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
100,101,6.3,3.3,6.0,2.5,Iris-virginica
114,115,5.8,2.8,5.1,2.4,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica

# Q6

In [30]:
df["sepal_area"] = df["SepalLengthCm"] * df["SepalWidthCm"]

In [31]:
df["petal_area"] = df["PetalLengthCm"] * df["PetalWidthCm"]